 body {
    margin: 0;
    padding: 0;
    border: 0;
 }

 table, td {
    border: 2px solid #644cee;
    width: 50%;
    border-radius: 5px;
    text-align: center;
    font-family: cursive;
 }

 th {
    background-color: #644cee;
    color: #FFF;
 }

 table caption {
    font-weight: bold;
 }

 tfoot td {
    font-size: small;
    font-style: italic;
    text-align: right;
    border: none;
 }

 table tr:hover:not(.nothover) {
    background-color: #644cee;
    color: #FFF;
 }
